<h2>Restaurant List</h2>

<ul>
<% @restaurants.each do |restaurant| %>
  <li><%=  "#{restaurant.name} - #{restaurant.address} - #{restaurant.phone_number} - #{restaurant.category}", restaurant_path %></li>
<% end %>
</ul>

<%= link_to 'Add a new restaurant', new_restaurant_path%>
